<a href="https://colab.research.google.com/github/Boin-Kau/recommender-systems-using-python/blob/main/pandas_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
import pandas as pd

# path로 지정한 경로 디렉토리에 있는 전체 파일 목록을 얻을 수 있습니다. 
os.listdir('./drive/MyDrive/RecoSys/Data/machine_learning_data')

['train.csv',
 'test.csv',
 'friend.csv',
 'new_friend.csv',
 'new_friend_index_true.csv',
 'abalone.data',
 'train_data.csv',
 'Naver_opinion.txt',
 'dolphine.jpg',
 'NanumBarunGothic.ttf',
 'wc_result.png',
 'wc_result1.png',
 'test_csv.txt',
 'crawlings__210510.log']

In [2]:
# 데이터 폴더를 base_src 변수에 할당
base_src = './drive/MyDrive/RecoSys/Data/machine_learning_data'
# friend.csv 파일을 friend_srv 변수에 할당
friend_src = base_src+'/friend.csv'

# pandas 라이브러리의 read_csv()함수로, 데이터를 불러와 DataFrame으로 저장하기
df = pd.read_csv(friend_src, encoding='utf-8')
# 상위 5개 ROW 읽기
df.head()

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager