<a href="https://colab.research.google.com/github/Boin-Kau/recommender-systems-using-python/blob/main/pandas_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import os
import pandas as pd

# path로 지정한 경로 디렉토리에 있는 전체 파일 목록을 얻을 수 있습니다. 
os.listdir('./drive/MyDrive/RecoSys/Data/machine_learning_data')

['train.csv',
 'test.csv',
 'friend.csv',
 'new_friend_index_true.csv',
 'abalone.data',
 'train_data.csv',
 'Naver_opinion.txt',
 'dolphine.jpg',
 'NanumBarunGothic.ttf',
 'wc_result.png',
 'wc_result1.png',
 'test_csv.txt',
 'crawlings__210510.log']

In [7]:
# 데이터 폴더를 base_src 변수에 할당
base_src = './drive/MyDrive/RecoSys/Data/machine_learning_data'
# friend.csv 파일을 friend_srv 변수에 할당
friend_src = base_src+'/friend.csv'

# pandas 라이브러리의 read_csv()함수로, 데이터를 불러와 DataFrame으로 저장하기
df = pd.read_csv(friend_src, encoding='utf-8')
# 상위 5개 ROW 읽기
df.head()

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [9]:
# new_friend.csv 파일을 new_friend_srv 변수에 할당
new_friend_src = base_src+'/new_friend.csv'
# pandas의 to_csv => 데이터 프레임 저장
## index = True or False =>데이터 저장시 새로운 인덱스를 생성할지 말지
df.to_csv(new_friend_src, index=False, encoding='utf-8')
df.head()
os.listdir(base_src)

['train.csv',
 'test.csv',
 'friend.csv',
 'new_friend_index_true.csv',
 'abalone.data',
 'train_data.csv',
 'Naver_opinion.txt',
 'dolphine.jpg',
 'NanumBarunGothic.ttf',
 'wc_result.png',
 'wc_result1.png',
 'test_csv.txt',
 'crawlings__210510.log',
 'new_friend.csv']

In [12]:
# numpy와 Series의 차이 
import numpy as np
np.array([1,2,3]) # numpy는 index가 없다.

array([1, 2, 3])

In [13]:
pd.Series([1,2,3]) # Series는 index가 있다. 
## 다만, numpy가 Series보다 빠르기 때문에, index가 굳이 필요하지 않은 연산에 대해서는 numpy를 쓰는 것이 더 좋다.

0    1
1    2
2    3
dtype: int64

In [15]:
# Series 실습
series = df['name']
series ## DataFrame에서의 하나의 열을 Series라고 생각하면 된다.

0     John
1    Jenny
2     Nate
3    Julia
4    Brian
5    Chris
Name: name, dtype: object

In [16]:
# pd.Series()함수를 통해 Series를 만들 수 있다. 
series = pd.Series([1,2,3,4])
series

0    1
1    2
2    3
3    4
dtype: int64

In [21]:
# pd.Series의 옵션(index, dtype)
series = pd.Series([1,2,3,4], index=['a', 'b', 'c', 'd'], dtype=float)
series

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [22]:
# Ordering
series = pd.Series([10,2,5,4], index=['a','b','c','d'], dtype=float)
series.sort_values() # default는 오름차순(ascending-True)

b     2.0
d     4.0
c     5.0
a    10.0
dtype: float64

In [23]:
series.sort_values(ascending=False) # 내림차순

a    10.0
c     5.0
d     4.0
b     2.0
dtype: float64